# Logs / build artifacts
/target
/dist
node_modules/
*.log

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
